@page "/games/guest/{id}"

@inject IGameService GameService
@inject IMatchEventService MatchEventService
@inject NavigationManager Navigation

<div class="page-container">
	<div class="header">
		<h3>@game.HomeTeam.Name @game.HomeTeamScore - @game.AwayTeamScore @game.AwayTeam.Name</h3>
	</div>

	<StatsTable @ref="stats" game="game" />

	@if (game.IsStarted)
	{
		<button class="btn btn-primary" @onclick="OpenStats">See stats</button>
	}
	else
	{
		<p>Game has not started yet</p>
	
	}
	<EventList Events="game.Events.ToList()" />
</div>


@code {
	[Parameter]
	public string id { get; set; }

	private HubConnection hubConnection;

	Game game;

	private StatsTable stats;

	protected override async Task OnInitializedAsync()
	{
		game = GameService.GetById(int.Parse(id));

		hubConnection = new HubConnectionBuilder()
			.WithUrl(Navigation.ToAbsoluteUri("/gameshub"))
			.Build();

		hubConnection.On<Game>("UpdateGame", (game) =>
		{
			InvokeAsync(StateHasChanged);
		});
		await hubConnection.StartAsync();
	}

	private	async Task OpenStats()
	{
		await stats.Show();
	}
}
