@page "/games/guest/{id}"

@inject IGameService GameService
@inject IMatchEventService MatchEventService
@inject NavigationManager Navigation

<h3>@game.HomeTeam.Name - @game.AwayTeam.Name</h3>

<EventList Events="game.Events.ToList()"/>

<div>
	<button @onclick="() => SetSelectedTeam(game.HomeTeam)">@game.HomeTeam.Name</button>
	<button @onclick="() => SetSelectedTeam(game.AwayTeam)">@game.AwayTeam.Name</button>
</div>

<StatsTable selectedTeam="selectedTeam" />


@code {
	[Parameter]
	public string id { get; set; }

	private HubConnection hubConnection;

	private Team selectedTeam;

	Game game;

	protected override async Task OnInitializedAsync()
	{
		game = GameService.GetById(int.Parse(id));

		selectedTeam = game.HomeTeam;

		hubConnection = new HubConnectionBuilder()
			.WithUrl(Navigation.ToAbsoluteUri("/gameshub"))
			.Build();

		hubConnection.On<Game>("UpdateGame", (game) =>
		{
			InvokeAsync(StateHasChanged);
		});
		await hubConnection.StartAsync();
	}

	private void SetSelectedTeam(Team team)
	{
		selectedTeam = team;
	}
}
