@page "/reporter/add-events/{gameId}"

@using Pin.LiveSports.Blazor.Components
@using Pin.LiveSports.Core.Entities
@using Pin.LiveSports.Core.Interfaces.Services

@inject IGameService GameService
@inject IMatchEventService MatchEventService

<PageTitle>Add Events</PageTitle>

<h3>@game.HomeTeam.Name - @game.AwayTeam.Name</h3>

<AddEventForm game="game"/>

@code {
	[Parameter]
	public string gameId { get; set; }

	Game game;

	ICollection<EventType> eventTypes;

	protected override void OnInitialized()
	{
		game = GameService.GetById(int.Parse(gameId));
		eventTypes = MatchEventService.GetEventTypes();
	}
}

