@if (Events != null && Events.Any())
{
	<ul>
		@foreach (var matchEvent in Events)
		{
			<li>@GenerateEventString(matchEvent)</li>
		}
	</ul>
}

@code {
	[Parameter]
	public List<MatchEvent> Events { get; set; }

	private string GenerateEventString(MatchEvent matchEvent)
	{
		Player player;
		switch(matchEvent.EventType.Name)
		{
			case "Field Goal Attempt":
				return $"{matchEvent.Players.FirstOrDefault().Name} of {matchEvent.Team.Name} tried to score an easy 2-pointer after {matchEvent.Time} minutes but he missed";
			case "Field Goal Made":
				player = matchEvent.Players.FirstOrDefault();
				player.Points += 2;
				return $"{player.Name} of {matchEvent.Team.Name} scored an easy 2-pointer after {matchEvent.Time} minutes";
			case "Three Point Attempt":
				return $"{matchEvent.Players.FirstOrDefault().Name} of {matchEvent.Team.Name} tried to score a 3-pointer after {matchEvent.Time} minutes but he missed";
			case "Three Point Made":
				player = matchEvent.Players.FirstOrDefault();
				player.Points += 3;
				return $"{player.Name} of {matchEvent.Team.Name} scored a 3-pointer after {matchEvent.Time} minutes";
			case "Free Throw Attempt":
				return $"{matchEvent.Players.FirstOrDefault().Name} of {matchEvent.Team.Name} tried to score a free throw after {matchEvent.Time} minutes but he missed";
				case "Free Throw Made":
				player = matchEvent.Players.FirstOrDefault();
				player.Points += 1;
				return $"{player.Name} of {matchEvent.Team.Name} scored a free throw after {matchEvent.Time} minutes";
			case "Foul":
				player = matchEvent.Players.FirstOrDefault();
				player.PersonalFouls++;
				return $"{player.Name} of {matchEvent.Team.Name} committed a foul after {matchEvent.Time} minutes";
			case "Substitution":
				return $"{matchEvent.Players.ToList()[0]} of {matchEvent.Team.Name} was substituted for {matchEvent.Players.ToList()[1]} after {matchEvent.Time} minutes";
			case "Timeout":
				return $"{matchEvent.Team.Name} called a timeout after {matchEvent.Time} minutes";
			case "Assist":
				player = matchEvent.Players.FirstOrDefault();
				player.Assists++;
				return $"{player.Name} of {matchEvent.Team.Name} made an assist after {matchEvent.Time} minutes";
			case "Rebound":
				player = matchEvent.Players.FirstOrDefault();
				player.Rebounds++;
				return $"{player.Name} of {matchEvent.Team.Name} grabbed a rebound after {matchEvent.Time} minutes";
			case "Steal":
				player = matchEvent.Players.FirstOrDefault();
				player.Steals++;
				return $"{player.Name} of {matchEvent.Team.Name} made a steal after {matchEvent.Time} minutes";
			case "Turnover":
				player = matchEvent.Players.FirstOrDefault();
				player.Turnovers++;
				return $"{player.Name} of {matchEvent.Team.Name} made a turnover after {matchEvent.Time} minutes";
			case "Block":
				player = matchEvent.Players.FirstOrDefault();
				player.Blocks++;
				return $"{player.Name} of {matchEvent.Team.Name} made a block after {matchEvent.Time} minutes";
			case "Start":
				return $"The game has begun";
			case "End":
				return $"The game has ended";
			default:
				return $"{matchEvent.EventType.Name}, {matchEvent.Team.Name}, {matchEvent.Time}";
		}
	}
}
