@inject NavigationManager NavigationManager

<div @onclick="GoToPage" class="gamecard">
	<h4>@game.HomeTeam.Name - @game.AwayTeam.Name</h4>
	<p>@game.StartTime.ToString("HH:mm")</p>
</div>

@code {
	[Parameter]
	public Game game { get; set; }

	[Parameter]
	public string userType { get; set; }

	private void GoToPage()
	{
		if (userType == "Reporter")
		{
			NavigationManager.NavigateTo($"/games/reporter/{game.Id}");
		}
		else
		{
			NavigationManager.NavigateTo($"/games/guest/{game.Id}");
		}
	}
}
