@inject IGameService GameService
@inject IUserService UserService
@inject NavigationManager Navigation

<h3>Games</h3>
@if (games != null)
{
	foreach (var game in games)
	{
		<GameCard game="game" userType="userType" />
	}
}

@if (userType == "Reporter")
{
	<button @onclick="ShowPopUp" class="btn btn-primary">Create Game</button>
}

<AddGameModal @ref="popUp" hubConnection="hubConnection"/>

@code {
	ICollection<Game> games;
	private string userType;

	private AddGameModal popUp;

	private HubConnection hubConnection;

	protected override async Task OnInitializedAsync()
	{
		hubConnection = new HubConnectionBuilder()
			.WithUrl(Navigation.ToAbsoluteUri("/gameshub"))
			.Build();

		hubConnection.On<Game>("UpdateGamesList", (game) =>
		{
			InvokeAsync(StateHasChanged);
		});
		await hubConnection.StartAsync();
		
		games = GameService.GetAll();
		userType = UserService.UserType;
	}

	private async Task ShowPopUp()
	{
		await popUp.Show();
	}
}
