@inject NavigationManager NavigationManager

<div @onclick="GoToPage" class="gamecard">
	<h4>@game.HomeTeam.Name - @game.AwayTeam.Name</h4>
	<p>@GetGameStatus()</p>
</div>

@code {
	[Parameter]
	public Game game { get; set; }

	[Parameter]
	public string userType { get; set; }

	[Parameter]
	public HubConnection hubConnection { get; set; }

	protected override void OnInitialized()
	{
		hubConnection.On<Game>("UpdateGame", (game) =>
		{
			InvokeAsync(StateHasChanged);
		});
	}

	private void GoToPage()
	{
		if (userType == "Reporter")
		{
			NavigationManager.NavigateTo($"/games/reporter/{game.Id}");
		}
		else
		{
			NavigationManager.NavigateTo($"/games/guest/{game.Id}");
		}
	}

	private MarkupString GetGameStatus()
	{
		if (game.IsStarted)
		{
			return (MarkupString)$"<span class=\"live-status\">Live</span>";
		}
		else
		{
			return (MarkupString)game.StartTime.ToString("HH:mm");
		}
	}
}
