@inject IGameService GameService
@inject IUserService UserService

<h3>Games</h3>
@foreach (var game in games)
{
	<GameCard game="game" userType="userType"/>
}
@if (userType == "Reporter")
{
	<button @onclick="ShowPopUp" class="btn btn-primary">Create Game</button>
}

<AddGameModal @ref="popUp"/>

@code {
	ICollection<Game> games;
	private string userType;

	private AddGameModal popUp;

	protected override void OnInitialized()
	{
		games = GameService.GetAll();
		userType = UserService.UserType;
	}

	private async Task ShowPopUp()
	{
		await popUp.Show();
	}
}
