@using Pin.LiveSports.Core.Entities
@using Pin.LiveSports.Core.Interfaces.Services

@inject IGameService GameService

<h3>Games</h3>
@foreach (var game in games)
{
	<GameCard game="game" />
}

@code {
	ICollection<Game> games;

	protected override void OnInitialized()
	{
		games = GameService.GetAll();
	}
}
