@inject IUserService UserService
@inject NavigationManager NavigationManager

<div @onclick="GoToPage" class="gamecard">
	<h4>@game.HomeTeam.Name - @game.AwayTeam.Name</h4>
	<p>@game.StartTime</p>
</div>

@code {
	[Parameter]
	public Game game { get; set; }

	private string userType;

	protected override void OnInitialized()
	{
		userType = UserService.UserType;
	}

	private void GoToPage()
	{
		if (userType == "Reporter")
		{
			NavigationManager.NavigateTo($"/games/reporter/{game.Id}");
		}
		else
		{
			NavigationManager.NavigateTo($"/games/guest/{game.Id}");
		}
	}
}
