/* Common Styles */
.container-max-width {
    max-width: 400px;
    margin: 0 auto;
}

.gamecard {
    border-radius: .7rem;
    box-shadow: 0 .25rem .4rem rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin-bottom: 1.25rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
}

    .gamecard:hover {
        box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.1);
        border-color: #ccc;
    }

    .gamecard h4 {
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem 1.25rem;
    }

    .gamecard p {
        font-size: 1rem;
        margin: 0;
        padding: 1rem 1.25rem;
        color: #666666;
    }

.live-status::before {
    content: "● ";
    color: red;
}

/* Modal Styles */
.my-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.my-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 1.25rem;
    border: 1px solid #888;
    border-radius: .7rem;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }

/* Form Styles */
.form-group {
    margin-bottom: 1.25rem;
}

.form-control {
    width: calc(100% - 1.25rem);
    padding: .7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
}

.cancel-btn,
.add-game-btn {
    padding: .7rem 1.25rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    margin-right: .7rem;
}

.add-game-btn {
    background-color: #4CAF50;
}

.cancel-btn {
    background-color: #f44336;
}

    .cancel-btn:hover,
    .add-game-btn:hover {
        opacity: 0.8;
    }

/* Login Screen Styles */
.login-container {
    @extend .container-max-width;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background-color: #fff;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.1);
}

    .login-container h3 {
        margin-bottom: 1.25rem;
    }

/* Event Form Styles */
.event-form {
    @extend .container-max-width;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.1);
}

    .event-form h3 {
        margin-bottom: 1.25rem;
    }

.btn {
    margin-top: .7rem;
}
