/* General styling */
html {
    font-size: 16px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

body {
    padding: 1rem;
}

/* Common Styles */
.container-max-width {
    max-width: 400px;
    margin: 0 auto;
}

.gamecard {
    border-radius: .7rem;
    box-shadow: 0 .25rem .4rem rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin-bottom: 1.25rem;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
}

    .gamecard:hover {
        box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.1);
        border-color: #ccc;
    }

    .gamecard h4 {
        font-size: 1.2rem;
        margin: 0;
        padding: 1rem 1.25rem;
    }

    .gamecard p {
        font-size: 1rem;
        margin: 0;
        padding: 1rem 1.25rem;
        color: #666666;
    }

.live-status::before {
    content: "● ";
    color: red;
}

/* Modal Styles */
.my-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.my-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 1.25rem;
    border: 1px solid #888;
    border-radius: .7rem;
    max-width: 400px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }

/* Form Styles */
.form-group {
    margin-bottom: 1.25rem;
}

.form-control {
    width: calc(100% - 1.25rem);
    padding: .7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
}

.cancel-btn,
.add-game-btn {
    padding: .7rem 1.25rem;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
    margin-right: .7rem;
}

.add-game-btn {
    background-color: #4CAF50;
}

.cancel-btn {
    background-color: #f44336;
}

    .cancel-btn:hover,
    .add-game-btn:hover {
        opacity: 0.8;
    }

/* Login Screen Styles */
.login-container {
    @extend .container-max-width;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background-color: #fff;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.1);
}

    .login-container h3 {
        margin-bottom: 1.25rem;
    }

/* Event Form Styles */
.event-form {
    @extend .container-max-width;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    background-color: #f9f9f9;
    box-shadow: 0 0 .7rem rgba(0, 0, 0, 0.1);
}

    .event-form h3 {
        margin-bottom: 1.25rem;
    }

.btn {
    margin-top: .7rem;
}

/* Table */
.table-custom {
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}

    .table-custom th,
    .table-custom td {
        border: 1px solid black;
        padding: .5rem;
        text-align: center;
    }

    .table-custom th {
        background-color: #f2f2f2;
    }

    .table-custom tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table-custom tbody tr:hover {
        background-color: #e2e2e2;
    }

.player-name {
    min-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Guest Details Page Styles */
.page-container {
    max-width: 800px;
    padding: 1.25rem;
}

/* Header Styles */
.header {
    text-align: center;
    margin-bottom: 1.25rem;
}

/* Team Buttons Styles */
.team-buttons {
    text-align: center;
    margin-bottom: 1.25rem;
}

    .team-buttons button {
        margin-right: .7rem;
        padding: .5rem 1rem;
        font-size: 1rem;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: .25rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .team-buttons button:hover {
            background-color: #0056b3;
        }


/* Event Notification Styles */
ul {
    list-style-type: none;
    padding: 0;
}

.event-notification {
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    background-color: #f0f0f0;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-notification-icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
}

.event-notification-content {
    display: inline-block;
    vertical-align: middle;
}

.event-notification-time {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
    margin-right: 0.75rem;
}

.player-name {
    font-weight: bold;
    color: #007bff;
}

.team-name {
    font-weight: bold;
    color: #28a745;
}